/* reset styles 
html {
	font-size: 18px;
}
a, article, body, div, fieldset, figcaption, figure, footer, form, header, h1, 
h2, h3, img, input, label, legend, li, nav, p, section, textarea, ul {
	border: 0;
	padding: 0;
	margin: 0;
}*/
html, body {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aliceblue;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: #222222;
    padding: 0 10%;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px 12px;
}
nav a:hover {
    background-color: #444444;
}
section {
    flex: 1;
    width: 80%;
    margin: auto;
}
#homeSection {
    flex: 1;
    width: 100%;
    flex-direction: column;
/*Cant center the homebox without webkit????*/
    text-align: -webkit-center;
}
#contactSection, #servicesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    background-color: #222222;
    color: white;
    padding: 0 10%;
    max-height: 50px;
    display: flex;
    flex-direction: row;
}
footer img {
    padding: 5px;
}
form {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    max-width: 600px;
    margin: auto;
}
label {
    padding-bottom: 2px;
    color: white;
}
input, textarea {
    padding: 5px;
    margin-bottom: 15px;
}
input[type=submit] {
    background-color: #222222;
    border: none;
    color: white;
    width: 100px;
    margin-bottom: 0;
    border-radius: 5px;
}
input[type=submit]:hover {
    background-color: #444444;
    cursor: pointer;
}
textarea {
    resize: none;
    height: 150px;
}
h1, h2, h3, span {
    font-family: Helvetica;
}
h1 {
    font-size: 20pt;
}
h2, span {
    font-size: 18pt;
}
h3 {
    font-size: 16pt;
}
p, a {
    font-size: 14pt;
    font-family: "Trebuchet MS";
}
label, input, textarea {
    font-size: 12pt;
    font-family: "Trebuchet MS";
}
table {
    border: 1px solid black;
    font-size: 14pt;
    border-collapse: collapse;
    font-family: "Trebuchet MS";
}
th, td {
    border: 1px solid black;
    padding: 5px 5px;
}
.centerText {
    text-align: center;
}
#serviceOptions {
    color: white;
    padding: 5px;
    text-align: center;
}
#serviceOptions>div {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin: 15px 20px;
    border-radius: 15px;
    background-color: darkslateblue;
    box-shadow: 0 0 10px darkslateblue, 0 0 25px darkslateblue;
}
#serviceOptions>div :hover {
    border-radius: 15px;
    box-shadow: 0 0 20px darkslateblue,
    0 0 25px darkslateblue;
}
#serviceOptions>div>span {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px 15px;
}
#contactTop {
    width: 100%;
}
#contactBottom {
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    margin: 25px 0;
    width: calc(100% - 20px);
    max-width: 600px;
    text-align: center;
}
#errors {
    display: none;
}
/*homepage pane*/
.landscape {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: white;
}
.landscape img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
/*homepage text sections*/
.section1 {
    position:relative;
    top:-100vh;
}
/*.section2 {
    background-color:gray;
}*/
/*homepage transparent div(s)*/
.homeBox {
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    border: 2px solid #222222;
    border-radius: 15px;
    max-width: 600px;
    margin: 10%;
    padding: 30px;
}

.firefly {
    display: none;
    height: 4px;
    width: 4px;
    border-radius: 2px;
    position: absolute;
    background-color: rgb(128,128,128);
}

#contactSection {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #111111;
}
#contactSection h1 {
    color: white;
}
#contactForm {
    position: relative;
    z-index: 5;
}